<div id="<%= dom_id petition %>">
  <div class="card-header">
    <strong><%= petition.state %></strong>
  </div>
  <div class="card-body">
    <p><%= petition.plate_id %></p>
    <p><%= petition.waiter_id %></p>
    <p><%= petition.diningtable_id %></p>
  </div>
</div>
