<div class="d-flex">
  <div class="p-10">
    <%= link_to "Volver al salón", root_path, class: "btn btn-dark" %>
  </div>
  <div class="p-10">
      <%= link_to "Finalizar", update_state_finalize_path(@diningtable.position), remote: true, class: "btn btn-warning" %>
  </div>
</div>
  
<%= form_with(model: @petition) do |form| %>
  <% if @petition.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

      <ul>
        <% @petition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-center p-10 col-md-2 offset-md-5">
    <div>
      <%= form.label "Plato", style: "display: block; text-align: left;" %>
      <%= form.collection_select(:plate_id,Plate.all,:id,:name, {}, {:style=>'display: block; width: 100%;'}) %>
    </div>

    <div>
      <%= form.label "Mesa", style: "display: block; text-align: left;" %>
      <%= form.collection_select(:diningtable_id,Diningtable.all,:id,:position, {:selected => @diningtable.id}, {:style=>'display: block; width: 100%; pointer-events: none;' }) %>
    </div>

    <div>
      <%= form.label "Mesero", style: "display: block; text-align: left;" %>
      <%= form.collection_select(:waiter_id,Waiter.all,:id,:name, {}, {:style=>'display: block; width: 100%; pointer-events: none;' }) %>
    </div>    
    <div class="p-10">
      
      <%= form.button :submit , name: "position", value: @diningtable.position %>
    </div>
  </div>

<% end %>
